@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f5f5f5;
  --header-bg-clr: #e4faf8ee;
  --border-clr: #cde6e4;
  --font-clr-bold: #163440;
  --font-clr-light: #313131;
  --link-clr: #3db9b3;
  --button-clr: #ffffff;
  --hero-bg-clr: #f7f6f6;
  --oak-orange: #f84724;
  --border-orange: #b43117;
}

::selection {
  background-color: var(--link-clr);
  color: #f5f5f5;
}

::-moz-selection {
  background-color: var(--font-clr-bold);
  color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  width: 100%;
  overflow-x: hidden;

  .site-header {
    background: var(--header-bg-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-clr);
    font-family: "Stack Sans Headline", sans-serif;
    position: sticky;

    .nav-links {
      margin-right: 5rem;

      ul {
        display: flex;
        gap: 3.5rem;
        list-style: none;

        li > a {
          text-decoration: none;
          position: relative;
          font-weight: 800;
          font-size: 18px;
          color: var(--font-clr-bold);
        }

        a::after {
          content: "";
          bottom: 0;
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: var(--link-clr);
          opacity: 0;
          transition: 0.2s ease-in-out;
        }

        a:hover::after {
          opacity: 1;
          transform: translateY(8px);
        }
      }
    }
  }

  .button {
    margin-right: 50px;

    a {
      background-color: var(--link-clr);
      padding: 1rem;
      border-radius: 50px;
      text-decoration: none;
      padding-left: 2rem;
      padding-right: 2rem;
      font-weight: 500;
      color: var(--button-clr);
      font-family: "Mochiy Pop One", sans-serif;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      background-color: var(--oak-orange);
    }
  }

  .hero {
    margin-bottom: -100px;
    font-family: "Google Sans Flex", sans-serif;
    padding: 2rem;
    display: flex;
    gap: 5rem;

    .paragraph {
      margin-left: 2rem;
      img {
        width: 90px;
        margin-bottom: -15px;
      }

      h1 {
        font-size: 48px;
        color: var(--font-clr-bold);
        font-family: "Poppins", sans-serif;
      }

      p {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        color: var(--font-clr-light);
      }

      .links {
        margin-top: 2em;

        a {
          background-color: var(--link-clr);
          padding: 1rem;
          border-radius: 50px;
          text-decoration: none;
          padding-left: 2rem;
          padding-right: 2rem;
          font-weight: 500;
          color: var(--button-clr);
          font-family: "Mochiy Pop One", sans-serif;
        }

        .about {
          background-color: var(--bg);
          padding: 1rem;
          border-radius: 50px;
          text-decoration: none;
          padding-left: 2rem;
          padding-right: 2rem;
          font-weight: 500;
          border: 2px solid var(--font-clr-bold);
          color: var(--font-clr-bold);
          font-family: "Mochiy Pop One", sans-serif;
          margin-bottom: 5rem;
        }
      }
    }

    .img {
      margin-bottom: 8rem;
      img {
        width: 44rem;
        border-radius: 30px;
      }
    }
  }

  hr {
    border: 1px solid var(--link-clr);
  }

  .about-us {
    background-color: #163440;
    padding: 4rem;
    display: flex;

    h1 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 45px;
      color: var(--font-clr-bold);
    }

    .img {
      img {
        width: 44rem;
        border-radius: 30px;
      }
    }
  }

  .text {
    font-family: "Google Sans Flex", sans-serif;
    margin-left: 4rem;
    margin-top: 5rem;

    h1 {
      color: var(--bg);
    }

    p {
      font-size: 1.2rem;
      color: var(--border-clr);
      margin-bottom: 40px;
      margin-top: 10px;
    }

    a {
      padding: 1rem;
      border-radius: 50px;
      text-decoration: none;
      padding-left: 2rem;
      padding-right: 2rem;
      font-weight: 500;
      border: 2px solid var(--border-clr);
      color: var(--bg);
      font-family: "Mochiy Pop One", sans-serif;
      margin-bottom: 5rem;
      margin-left: 10rem;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      background-color: var(--bg);
      color: var(--font-clr-bold);
      border: 2px solid var(--bg);
    }
  }

  .services {
    padding-top: 5rem;
    margin-bottom: 5rem;

    h1 {
      font-family: "Stack Sans Headline", sans-serif;
      text-align: center;
      font-size: 48px;
      color: var(--font-clr-bold);
      margin-bottom: 1rem;
    }

    .services-1 {
      flex: 0 0 auto;
      display: flex;

      .braces {
        img {
          border-radius: 50px;
          width: 19.8rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }

      .teeth {
        img {
          border-radius: 50px;
          width: 18rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          margin-left: 4.5rem;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }

      .pros {
        img {
          border-radius: 50px;
          width: 18rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          margin-left: 5rem;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }
      .scale {
        img {
          border-radius: 50px;
          width: 19rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          margin-left: 4rem;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }

      .extra {
        img {
          border-radius: 50px;
          width: 19rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          margin-left: 2rem;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }

      .con {
        img {
          border-radius: 50px;
          width: 19rem;
        }

        h3 {
          font-family: "Google Sans Flex", sans-serif;
          margin-left: 3rem;
          color: var(--font-clr-light);
          font-weight: 500;
        }
      }
    }
  }

  .orange {
    border: 2px solid var(--border-orange);
  }

  .gallery {
    background-color: var(--oak-orange);
    padding-top: 1rem;

    h1 {
      text-align: center;
      font-family: "Stack Sans Headline", sans-serif;
      color: var(--bg);
      margin-bottom: 2rem;
      text-decoration: underline;
    }

    .img-1 {
      margin-left: 10rem;

      img {
        border-radius: 10px;
      }
    }
  }
}
